#app {
    font-family: 'Noto Sans KR', sans-serif;
}
.shadow {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
.pointer {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit;
}