<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.api.domain.account.mapper.AccountImageMapper">

	<select id="findAccountImagePath" resultType="String">
		SELECT
			path
		FROM
			account_images
		WHERE
			account_id = #{accountId}
	</select>
	
</mapper>

